@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono");
:root {
  --xxs-font-size: calc(var(--md-font-size) - 6pt);
  --xs-font-size: calc(var(--md-font-size) - 4pt);
  --sm-font-size: calc(var(--md-font-size) - 2pt);
  --md-font-size: 16pt;
  --lg-font-size: calc(var(--md-font-size) + 2pt);
  --xl-font-size: calc(var(--md-font-size) + 4pt);
  --xxl-font-size: calc(var(--md-font-size) + 8pt);
  --xs-padding: calc(var(--md-padding) / 4);
  --sm-padding: calc(var(--md-padding) / 2);
  --md-padding: 10px;
  --lg-padding: calc(var(--md-padding) * 2);
  --xl-padding: calc(var(--md-padding) * 4);
  --xxl-padding: calc(var(--md-padding) * 8);
  --page-width: 1200px;
  --header-height: 125px;
  --section-padding: var(--xl-padding);
  --border-radius: 7px;
  --dark-teal: #015077;
  --aqua: #46798e;
  --light-yellow: #ffd157;
  --light-gray: #eee;
  --medium-gray: #222;
  --dark-gray: #111;
  --text-color: var(--light-gray);
  --link-color: var(--light-yellow);
  --background-color: black;
  --dark-background-color: var(--dark-gray);
  --medium-background-color: var(--medium-gray);
}

.flex,
.flex-row,
.flex-col,
.flex-wrap,
.flex-nowrap {
  display: flex;
  min-width: 0;
  min-height: 0;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-2 > * {
  flex: 1 1 50%;
}

@media screen and (max-width: 850px) {
  .flex-row {
    flex-direction: column;
  }
}
* {
  font-family: "Noto Sans Mono", monospace;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--xs-font-size);
}

a,
a:visited {
  text-decoration: none;
  color: var(--text-color);
}

input,
textarea,
button {
  outline: none;
}

.xxs-text {
  font-size: var(--xxs-font-size) !important;
}

.xxs-padding {
  padding: var(--xxs-padding) !important;
}

.xxs-padding-top {
  padding-top: var(--xxs-padding) !important;
}

.xxs-padding-left {
  padding-left: var(--xxs-padding) !important;
}

.xxs-padding-bottom {
  padding-bottom: var(--xxs-padding) !important;
}

.xxs-padding-right {
  padding-right: var(--xxs-padding) !important;
}

.xxs-margin {
  margin: var(--xxs-padding) !important;
}

.xxs-margin-top {
  margin-top: var(--xxs-padding) !important;
}

.xxs-margin-left {
  margin-left: var(--xxs-padding) !important;
}

.xxs-margin-bottom {
  margin-bottom: var(--xxs-padding) !important;
}

.xxs-margin-right {
  margin-right: var(--xxs-padding) !important;
}

.xs-text {
  font-size: var(--xs-font-size) !important;
}

.xs-padding {
  padding: var(--xs-padding) !important;
}

.xs-padding-top {
  padding-top: var(--xs-padding) !important;
}

.xs-padding-left {
  padding-left: var(--xs-padding) !important;
}

.xs-padding-bottom {
  padding-bottom: var(--xs-padding) !important;
}

.xs-padding-right {
  padding-right: var(--xs-padding) !important;
}

.xs-margin {
  margin: var(--xs-padding) !important;
}

.xs-margin-top {
  margin-top: var(--xs-padding) !important;
}

.xs-margin-left {
  margin-left: var(--xs-padding) !important;
}

.xs-margin-bottom {
  margin-bottom: var(--xs-padding) !important;
}

.xs-margin-right {
  margin-right: var(--xs-padding) !important;
}

.sm-text {
  font-size: var(--sm-font-size) !important;
}

.sm-padding {
  padding: var(--sm-padding) !important;
}

.sm-padding-top {
  padding-top: var(--sm-padding) !important;
}

.sm-padding-left {
  padding-left: var(--sm-padding) !important;
}

.sm-padding-bottom {
  padding-bottom: var(--sm-padding) !important;
}

.sm-padding-right {
  padding-right: var(--sm-padding) !important;
}

.sm-margin {
  margin: var(--sm-padding) !important;
}

.sm-margin-top {
  margin-top: var(--sm-padding) !important;
}

.sm-margin-left {
  margin-left: var(--sm-padding) !important;
}

.sm-margin-bottom {
  margin-bottom: var(--sm-padding) !important;
}

.sm-margin-right {
  margin-right: var(--sm-padding) !important;
}

.md-text {
  font-size: var(--md-font-size) !important;
}

.md-padding {
  padding: var(--md-padding) !important;
}

.md-padding-top {
  padding-top: var(--md-padding) !important;
}

.md-padding-left {
  padding-left: var(--md-padding) !important;
}

.md-padding-bottom {
  padding-bottom: var(--md-padding) !important;
}

.md-padding-right {
  padding-right: var(--md-padding) !important;
}

.md-margin {
  margin: var(--md-padding) !important;
}

.md-margin-top {
  margin-top: var(--md-padding) !important;
}

.md-margin-left {
  margin-left: var(--md-padding) !important;
}

.md-margin-bottom {
  margin-bottom: var(--md-padding) !important;
}

.md-margin-right {
  margin-right: var(--md-padding) !important;
}

.lg-text {
  font-size: var(--lg-font-size) !important;
}

.lg-padding {
  padding: var(--lg-padding) !important;
}

.lg-padding-top {
  padding-top: var(--lg-padding) !important;
}

.lg-padding-left {
  padding-left: var(--lg-padding) !important;
}

.lg-padding-bottom {
  padding-bottom: var(--lg-padding) !important;
}

.lg-padding-right {
  padding-right: var(--lg-padding) !important;
}

.lg-margin {
  margin: var(--lg-padding) !important;
}

.lg-margin-top {
  margin-top: var(--lg-padding) !important;
}

.lg-margin-left {
  margin-left: var(--lg-padding) !important;
}

.lg-margin-bottom {
  margin-bottom: var(--lg-padding) !important;
}

.lg-margin-right {
  margin-right: var(--lg-padding) !important;
}

.xl-text {
  font-size: var(--xl-font-size) !important;
}

.xl-padding {
  padding: var(--xl-padding) !important;
}

.xl-padding-top {
  padding-top: var(--xl-padding) !important;
}

.xl-padding-left {
  padding-left: var(--xl-padding) !important;
}

.xl-padding-bottom {
  padding-bottom: var(--xl-padding) !important;
}

.xl-padding-right {
  padding-right: var(--xl-padding) !important;
}

.xl-margin {
  margin: var(--xl-padding) !important;
}

.xl-margin-top {
  margin-top: var(--xl-padding) !important;
}

.xl-margin-left {
  margin-left: var(--xl-padding) !important;
}

.xl-margin-bottom {
  margin-bottom: var(--xl-padding) !important;
}

.xl-margin-right {
  margin-right: var(--xl-padding) !important;
}

.xxl-text {
  font-size: var(--xxl-font-size) !important;
}

.xxl-padding {
  padding: var(--xxl-padding) !important;
}

.xxl-padding-top {
  padding-top: var(--xxl-padding) !important;
}

.xxl-padding-left {
  padding-left: var(--xxl-padding) !important;
}

.xxl-padding-bottom {
  padding-bottom: var(--xxl-padding) !important;
}

.xxl-padding-right {
  padding-right: var(--xxl-padding) !important;
}

.xxl-margin {
  margin: var(--xxl-padding) !important;
}

.xxl-margin-top {
  margin-top: var(--xxl-padding) !important;
}

.xxl-margin-left {
  margin-left: var(--xxl-padding) !important;
}

.xxl-margin-bottom {
  margin-bottom: var(--xxl-padding) !important;
}

.xxl-margin-right {
  margin-right: var(--xxl-padding) !important;
}

.button-container {
  display: flex;
  gap: var(--md-padding);
  width: 100%;
  height: 100%;
}

button,
.button {
  transition: background-color 250ms;
  align-items: center;
  background-color: var(--dark-background-color);
  border-radius: var(--border-radius);
  border: 0;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  font-size: var(--xs-font-size);
  gap: var(--lg-padding);
  justify-content: center;
  outline: 0;
}
button:hover, button:focus,
.button:hover,
.button:focus {
  background-color: var(--medium-background-color);
}
button img,
.button img {
  width: 50px;
}
button:hover, button:focus,
.button:hover,
.button:focus {
  color: var(--link-color);
}

#intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
#intro:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: saturate(0);
  opacity: 30%;
  z-index: -100;
}
#intro .intro-content {
  min-width: 0;
  position: relative;
  top: calc(var(--section-padding) * -1);
  max-width: var(--page-width);
}
#intro .intro-content p {
  text-shadow: 0px 0px 5px black;
}

.typing::after {
  content: "█";
}

.blink::after {
  animation: blink-caret 1000ms step-end infinite;
}

@keyframes blink-caret {
  from, to {
    color: transparent;
  }
  50% {
    color: var(--link-color);
  }
}
footer {
  padding: var(--section-padding);
  background-color: var(--dark-background-color);
}
footer a,
footer a:visited {
  color: var(--link-color);
}

form {
  max-width: var(--page-width);
  margin: 0 auto;
}
form .form-line {
  display: flex;
  flex: row wrap;
  width: 100%;
  align-items: baseline;
  justify-content: center;
}
form label {
  min-width: 150px;
}
form input,
form textarea {
  transition: background-color 250ms;
  width: 100%;
  border: 0;
  background-color: var(--dark-background-color);
  color: var(--text-color);
  padding: var(--md-padding);
  border-radius: var(--border-radius);
}
form input:hover, form input:focus,
form textarea:hover,
form textarea:focus {
  background-color: var(--medium-background-color);
}
form textarea {
  resize: none;
}
form .button-container {
  margin-left: 150px;
}

@media screen and (max-width: 850px) {
  .form-line {
    flex-direction: column;
  }
  .form-line label {
    margin-bottom: var(--md-padding);
  }
  .form-line input,
  .form-line textarea {
    width: calc(100% - var(--md-padding) * 2);
  }
  .form-line .button-container {
    margin-left: 0;
  }
}
.header-container {
  align-items: center;
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: calc(var(--header-height) - var(--section-padding) * 2);
  padding: var(--section-padding);
  position: sticky;
  top: 0;
  z-index: 100;
}

#menu-icon {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  display: none;
  grid-column: 3;
  background-color: transparent;
}
#menu-icon:hover, #menu-icon:focus {
  background-color: transparent;
}

header {
  grid-column: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--lg-padding);
}
header img {
  height: calc(var(--header-height) - var(--section-padding) * 2);
  pointer-events: none;
}

h1 {
  font-size: var(--lg-font-size);
}

@media screen and (max-width: 850px) {
  #menu-icon {
    display: block;
  }
}
nav {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: var(--xs-font-size);
  gap: var(--section-padding);
  grid-column: 3;
  transition: left 250ms;
  visibility: hidden;
}
nav .current {
  color: var(--light-yellow);
}
nav .current:before {
  content: "‹ ";
  font-size: var(--md-font-size);
}
nav .current:after {
  content: " ›";
  font-size: var(--md-font-size);
}

@media screen and (max-width: 850px) {
  nav {
    align-items: start;
    background-color: var(--dark-background-color);
    flex-direction: column;
    padding: var(--section-padding);
    position: fixed;
    bottom: 0;
    top: var(--header-height);
    left: 200vw;
    right: 0;
  }
  nav.open {
    left: 0;
    visibility: visible;
  }
}
.attn {
  color: var(--link-color);
}

section {
  padding: var(--section-padding);
  min-height: calc(100vh - var(--header-height) - var(--section-padding) * 2);
  scroll-margin-top: 120px;
}

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: var(--page-width);
  margin: 0 auto;
  gap: var(--section-padding);
}
.content .col {
  flex: 1 0 calc(50% - var(--section-padding) * 2);
}
.content h2 {
  padding-bottom: var(--section-padding);
}

@media screen and (max-width: 850px) {
  .content .col {
    flex-basis: 100%;
  }
}