@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono");
* {
  font-family: "Noto Sans Mono", monospace;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
body {
  background-color: var(--dark-background-color);
  color: var(--text-color);
  font-size: var(--md-font-size);
}

a, a:visited {
  text-decoration: none;
}

.xs-text {
  font-size: var(--xs-font-size);
}

.xs-padding-top {
  padding-top: var(--xs-padding);
}

.xs-padding-left {
  padding-left: var(--xs-padding);
}

.xs-padding-bottom {
  padding-bottom: var(--xs-padding);
}

.xs-padding-right {
  padding-right: var(--xs-padding);
}

.xs-margin-top {
  margin-top: var(--xs-padding);
}

.xs-margin-left {
  margin-left: var(--xs-padding);
}

.xs-margin-bottom {
  margin-bottom: var(--xs-padding);
}

.xs-margin-right {
  margin-right: var(--xs-padding);
}

.sm-text {
  font-size: var(--sm-font-size);
}

.sm-padding-top {
  padding-top: var(--sm-padding);
}

.sm-padding-left {
  padding-left: var(--sm-padding);
}

.sm-padding-bottom {
  padding-bottom: var(--sm-padding);
}

.sm-padding-right {
  padding-right: var(--sm-padding);
}

.sm-margin-top {
  margin-top: var(--sm-padding);
}

.sm-margin-left {
  margin-left: var(--sm-padding);
}

.sm-margin-bottom {
  margin-bottom: var(--sm-padding);
}

.sm-margin-right {
  margin-right: var(--sm-padding);
}

.md-text {
  font-size: var(--md-font-size);
}

.md-padding-top {
  padding-top: var(--md-padding);
}

.md-padding-left {
  padding-left: var(--md-padding);
}

.md-padding-bottom {
  padding-bottom: var(--md-padding);
}

.md-padding-right {
  padding-right: var(--md-padding);
}

.md-margin-top {
  margin-top: var(--md-padding);
}

.md-margin-left {
  margin-left: var(--md-padding);
}

.md-margin-bottom {
  margin-bottom: var(--md-padding);
}

.md-margin-right {
  margin-right: var(--md-padding);
}

.lg-text {
  font-size: var(--lg-font-size);
}

.lg-padding-top {
  padding-top: var(--lg-padding);
}

.lg-padding-left {
  padding-left: var(--lg-padding);
}

.lg-padding-bottom {
  padding-bottom: var(--lg-padding);
}

.lg-padding-right {
  padding-right: var(--lg-padding);
}

.lg-margin-top {
  margin-top: var(--lg-padding);
}

.lg-margin-left {
  margin-left: var(--lg-padding);
}

.lg-margin-bottom {
  margin-bottom: var(--lg-padding);
}

.lg-margin-right {
  margin-right: var(--lg-padding);
}

.xl-text {
  font-size: var(--xl-font-size);
}

.xl-padding-top {
  padding-top: var(--xl-padding);
}

.xl-padding-left {
  padding-left: var(--xl-padding);
}

.xl-padding-bottom {
  padding-bottom: var(--xl-padding);
}

.xl-padding-right {
  padding-right: var(--xl-padding);
}

.xl-margin-top {
  margin-top: var(--xl-padding);
}

.xl-margin-left {
  margin-left: var(--xl-padding);
}

.xl-margin-bottom {
  margin-bottom: var(--xl-padding);
}

.xl-margin-right {
  margin-right: var(--xl-padding);
}

header {
  grid-column: 1;
}

h1 {
  font-size: 1.5em;
}

nav {
  grid-column: 3;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
nav .nav-link {
  margin-left: var(--xl-padding);
}
nav a {
  color: var(--navigation-link-color);
}
nav .current {
  color: var(--navigation-current-link-color);
}
nav .current:before {
  content: "‹ ";
  font-size: var(--lg-font-size);
}
nav .current:after {
  content: " ›";
  font-size: var(--lg-font-size);
}

:root {
  --xs-font-size: calc(var(--md-font-size) - 4pt);
  --sm-font-size: calc(var(--md-font-size) - 2pt);
  --md-font-size: 12pt;
  --lg-font-size: calc(var(--md-font-size) + 2pt);
  --xl-font-size: calc(var(--md-font-size) + 4pt);
  --xs-padding: calc(var(--md-padding) / 4);
  --sm-padding: calc(var(--md-padding) / 2);
  --md-padding: 10px;
  --lg-padding: calc(var(--md-padding) * 2);
  --xl-padding: calc(var(--md-padding) * 4);
  --dark-teal: #015077;
  --aqua: #46798e;
  --light-yellow: #ffd157;
  --light-gray: #eee;
  --dark-gray: #111;
  --medium-gray: #222;
  --text-color: var(--light-gray);
  --dark-background-color: var(--dark-gray);
  --medium-background-color: var(--medium-gray);
  --navigation-link-color: var(--light-gray);
  --navigation-current-link-color: var(--light-yellow);
}

.header-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: var(--xl-padding);
  position: sticky;
  top: 0;
  background-color: var(--dark-background-color);
}

main {
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin: var(--xl-padding);
  padding: var(--xl-padding);
  min-height: 75vh;
  scroll-margin-top: 110px;
}

.content {
  background-color: var(--medium-background-color);
  display: flex;
  flex-flow: row wrap;
}
.content h2 {
  padding-bottom: var(--xl-padding);
}