.flex {
    display: flex !important;
    min-width: 0 !important;
    min-height: 0 !important;

    @include has-children(1) {
        flex: 1 0 100% !important;
    }

    @include has-children(2) {
        flex: 1 0 50% !important;
    }

    @include has-children(3) {
        flex: 1 0 33.33% !important;
    }

    @include has-children(4) {
        flex: 1 0 25% !important;
    }
}

.flex-row {
    flex-direction: row !important;
}

.flex-col {
    flex-direction: column !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.flex-nowrap {
    flex-wrap: nowrap !important;
}

@media screen and (max-width: $nav-collapse) {
    .flex-row {
        flex-direction: column !important;
    }
}
