.lg {
    font-size: var(--lg-font-size);
}

.lg-padding-top {
    padding-top: var(--lg-padding);
}

.lg-padding-left {
    padding-left: var(--lg-padding);
}

.lg-padding-bottom {
    padding-bottom: var(--lg-padding);
}

.lg-padding-right {
    padding-right: var(--lg-padding);
}

.lg-margin-top {
    margin-top: var(--lg-padding);
}

.lg-margin-left {
    margin-left: var(--lg-padding);
}

.lg-margin-bottom {
    margin-bottom: var(--lg-padding);
}

.lg-margin-right {
    margin-right: var(--lg-padding);
}
