.lg-text {
  font-size: var(--lg-text) !important;
}

.lg-gap {
  gap: var(--lg-padding) !important;
}

.lg-padding {
  padding: var(--lg-padding) !important;
}

.lg-padding-top {
  padding-top: var(--lg-padding) !important;
}

.lg-padding-left {
  padding-left: var(--lg-padding) !important;
}

.lg-padding-bottom {
  padding-bottom: var(--lg-padding) !important;
}

.lg-padding-right {
  padding-right: var(--lg-padding) !important;
}

.lg-margin {
  margin: var(--lg-padding) !important;
}

.lg-margin-top {
  margin-top: var(--lg-padding) !important;
}

.lg-margin-left {
  margin-left: var(--lg-padding) !important;
}

.lg-margin-bottom {
  margin-bottom: var(--lg-padding) !important;
}

.lg-margin-right {
  margin-right: var(--lg-padding) !important;
}
