.md-text {
    font-size: var(--md-text) !important;
}

.md-gap {
    gap: var(--md-padding) !important;
}

.md-padding {
    padding: var(--md-padding) !important;
}

.md-padding-top {
    padding-top: var(--md-padding) !important;
}

.md-padding-left {
    padding-left: var(--md-padding) !important;
}

.md-padding-bottom {
    padding-bottom: var(--md-padding) !important;
}

.md-padding-right {
    padding-right: var(--md-padding) !important;
}

.md-margin {
    margin: var(--md-padding) !important;
}

.md-margin-top {
    margin-top: var(--md-padding) !important;
}

.md-margin-left {
    margin-left: var(--md-padding) !important;
}

.md-margin-bottom {
    margin-bottom: var(--md-padding) !important;
}

.md-margin-right {
    margin-right: var(--md-padding) !important;
}
