.md-text {
    font-size: var(--md-font-size);
}

.md-padding-top {
    padding-top: var(--md-padding);
}

.md-padding-left {
    padding-left: var(--md-padding);
}

.md-padding-bottom {
    padding-bottom: var(--md-padding);
}

.md-padding-right {
    padding-right: var(--md-padding);
}

.md-margin-top {
    margin-top: var(--md-padding);
}

.md-margin-left {
    margin-left: var(--md-padding);
}

.md-margin-bottom {
    margin-bottom: var(--md-padding);
}

.md-margin-right {
    margin-right: var(--md-padding);
}
