@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono');

* {
    font-family: "Noto Sans Mono", monospace;
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--xs-font-size);
}

h1 {
    font-size: var(--lg-font-size);
}

h2 {
    font-weight: normal;
    font-size: var(--lg-font-size);
}

a,
a:visited {
    text-decoration: none;
    color: var(--text-color);
}

input,
textarea,
button,
.button {
    outline: none;
    font-size: var(--xs-font-size);
}
