.sm-text {
    font-size: var(--sm-text) !important;
}

.sm-gap {
    gap: var(--sm-padding) !important;
}

.sm-padding {
    padding: var(--sm-padding) !important;
}

.sm-padding-top {
    padding-top: var(--sm-padding) !important;
}

.sm-padding-left {
    padding-left: var(--sm-padding) !important;
}

.sm-padding-bottom {
    padding-bottom: var(--sm-padding) !important;
}

.sm-padding-right {
    padding-right: var(--sm-padding) !important;
}

.sm-margin {
    margin: var(--sm-padding) !important;
}

.sm-margin-top {
    margin-top: var(--sm-padding) !important;
}

.sm-margin-left {
    margin-left: var(--sm-padding) !important;
}

.sm-margin-bottom {
    margin-bottom: var(--sm-padding) !important;
}

.sm-margin-right {
    margin-right: var(--sm-padding) !important;
}
