.xl-text {
    font-size: var(--xl-font-size);
}

.xl-padding {
    padding: var(--xl-padding);
}

.xl-padding-top {
    padding-top: var(--xl-padding);
}

.xl-padding-left {
    padding-left: var(--xl-padding);
}

.xl-padding-bottom {
    padding-bottom: var(--xl-padding);
}

.xl-padding-right {
    padding-right: var(--xl-padding);
}

.xl-margin {
    margin: var(--xl-padding);
}

.xl-margin-top {
    margin-top: var(--xl-padding);
}

.xl-margin-left {
    margin-left: var(--xl-padding);
}

.xl-margin-bottom {
    margin-bottom: var(--xl-padding);
}

.xl-margin-right {
    margin-right: var(--xl-padding);
}
