.xs-text {
  font-size: var(--xs-text) !important;
}

.xs-gap {
  gap: var(--xs-padding) !important;
}

.xs-padding {
  padding: var(--xs-padding) !important;
}

.xs-padding-top {
  padding-top: var(--xs-padding) !important;
}

.xs-padding-left {
  padding-left: var(--xs-padding) !important;
}

.xs-padding-bottom {
  padding-bottom: var(--xs-padding) !important;
}

.xs-padding-right {
  padding-right: var(--xs-padding) !important;
}

.xs-margin {
  margin: var(--xs-padding) !important;
}

.xs-margin-top {
  margin-top: var(--xs-padding) !important;
}

.xs-margin-left {
  margin-left: var(--xs-padding) !important;
}

.xs-margin-bottom {
  margin-bottom: var(--xs-padding) !important;
}

.xs-margin-right {
  margin-right: var(--xs-padding) !important;
}
