.xs {
    font-size: var(--xs-font-size);
}

.xs-padding-top {
    padding-top: var(--xs-padding);
}

.xs-padding-left {
    padding-left: var(--xs-padding);
}

.xs-padding-bottom {
    padding-bottom: var(--xs-padding);
}

.xs-padding-right {
    padding-right: var(--xs-padding);
}

.xs-margin-top {
    margin-top: var(--xs-padding);
}

.xs-margin-left {
    margin-left: var(--xs-padding);
}

.xs-margin-bottom {
    margin-bottom: var(--xs-padding);
}

.xs-margin-right {
    margin-right: var(--xs-padding);
}
