.xxl-text {
  font-size: var(--xxl-text) !important;
}

.xxl-gap {
  gap: var(--xxl-padding) !important;
}

.xxl-padding {
  padding: var(--xxl-padding) !important;
}

.xxl-padding-top {
  padding-top: var(--xxl-padding) !important;
}

.xxl-padding-left {
  padding-left: var(--xxl-padding) !important;
}

.xxl-padding-bottom {
  padding-bottom: var(--xxl-padding) !important;
}

.xxl-padding-right {
  padding-right: var(--xxl-padding) !important;
}

.xxl-margin {
  margin: var(--xxl-padding) !important;
}

.xxl-margin-top {
  margin-top: var(--xxl-padding) !important;
}

.xxl-margin-left {
  margin-left: var(--xxl-padding) !important;
}

.xxl-margin-bottom {
  margin-bottom: var(--xxl-padding) !important;
}

.xxl-margin-right {
  margin-right: var(--xxl-padding) !important;
}
