.xxl-text {
    font-size: var(--xxl-font-size);
}

.xxl-padding {
    padding: var(--xxl-padding);
}

.xxl-padding-top {
    padding-top: var(--xxl-padding);
}

.xxl-padding-left {
    padding-left: var(--xxl-padding);
}

.xxl-padding-bottom {
    padding-bottom: var(--xxl-padding);
}

.xxl-padding-right {
    padding-right: var(--xxl-padding);
}

.xxl-margin {
    margin: var(--xxl-padding);
}

.xxl-margin-top {
    margin-top: var(--xxl-padding);
}

.xxl-margin-left {
    margin-left: var(--xxl-padding);
}

.xxl-margin-bottom {
    margin-bottom: var(--xxl-padding);
}

.xxl-margin-right {
    margin-right: var(--xxl-padding);
}
