.xxs-text {
  font-size: var(--xxs-text) !important;
}

.xxs-gap {
  gap: var(--xxs-padding) !important;
}

.xxs-padding {
  padding: var(--xxs-padding) !important;
}

.xxs-padding-top {
  padding-top: var(--xxs-padding) !important;
}

.xxs-padding-left {
  padding-left: var(--xxs-padding) !important;
}

.xxs-padding-bottom {
  padding-bottom: var(--xxs-padding) !important;
}

.xxs-padding-right {
  padding-right: var(--xxs-padding) !important;
}

.xxs-margin {
  margin: var(--xxs-padding) !important;
}

.xxs-margin-top {
  margin-top: var(--xxs-padding) !important;
}

.xxs-margin-left {
  margin-left: var(--xxs-padding) !important;
}

.xxs-margin-bottom {
  margin-bottom: var(--xxs-padding) !important;
}

.xxs-margin-right {
  margin-right: var(--xxs-padding) !important;
}
