.header-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: var(--quad-padding);
    position: sticky;
    top: 0;
    background-color: var(--dark-background-color);
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.content {
    background-color: var(--medium-background-color);
    margin: var(--quad-padding);
    padding: var(--quad-padding);
}
