.attn {
    color: var(--link-color);
}

section {
    padding: var(--section-padding);
    scroll-margin-top: 120px;
}

.content {
    justify-content: center;
    max-width: var(--page-width);
    margin: 0 auto;
    gap: var(--section-padding);

    h2 {
        padding-bottom: var(--section-padding);
    }
}

#skills {
    #programming-languages {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: var(--lg-padding);

        & > div {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            gap: var(--md-padding);
            min-width: 100px;
            min-height: 100px;
        }
    }

    img {
        max-height: 50px;
        max-width: 50px;
    }
}
