$nav-collapse: 850px; // when to collapse navigation bar

:root {
    --xxs-font-size: calc(var(--md-font-size) - 6pt);
    --xs-font-size: calc(var(--md-font-size) - 4pt);
    --sm-font-size: calc(var(--md-font-size) - 2pt);
    --md-font-size: 16pt;
    --lg-font-size: calc(var(--md-font-size) + 2pt);
    --xl-font-size: calc(var(--md-font-size) + 4pt);
    --xxl-font-size: calc(var(--md-font-size) + 8pt);

    --xs-padding: calc(var(--md-padding) / 4);
    --sm-padding: calc(var(--md-padding) / 2);
    --md-padding: 10px;
    --lg-padding: calc(var(--md-padding) * 2);
    --xl-padding: calc(var(--md-padding) * 4);
    --xxl-padding: calc(var(--md-padding) * 8);

    --page-width: 1200px;
    --header-height: 125px;

    // colors
    --dark-teal: #015077;
    --aqua: #46798e;
    --light-yellow: #ffd157;
    --light-gray: #eee;
    --dark-gray: #111;
    --medium-gray: #222;

    // theme colors
    --text-color: var(--light-gray);
    --link-color: var(--light-yellow);
    --dark-background-color:black;
    --medium-background-color: var(--medium-gray);
}
