.button-container {
    display: flex;
    gap: var(--md-padding);
    width: 100%;
    height: 100%;
}

button,
.button {
    @include interactive;

    img {
        width: 50px;
    }

    align-items: center;
    background-color: var(--dark-background-color);
    border-radius: var(--border-radius);
    border: 0;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    font-size: var(--xs-font-size);
    gap: var(--lg-padding);
    justify-content: center;
    outline: 0;

    &:hover, &:focus {
        color: var(--link-color);
    }
}
