.block-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    gap: var(--md-padding);
}

.content-block {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto;
    height: calc(150px - (var(--xl-padding) * 2));
    padding: var(--xl-padding);

    img {
        width: 50px;
    }
}

@media screen and (max-width: $nav-collapse) {
    .block-container {
        align-items: center;

        .content-block {
            width: calc(100% - var(--xl-padding) * 2);
        }
    }
}
