nav {
    grid-column: 3;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: var(--xs-font-size);
    transition: left 250ms;

    .nav-link {
        margin-left: var(--xl-padding);
    }

    a {
        color: var(--navigation-link-color);
    }

    .current {
        color: var(--navigation-current-link-color);

        &:before {
            content: "\2039\00A0";
            font-size: var(--md-font-size);
        }

        &:after {
            content: "\00A0\203A";
            font-size: var(--md-font-size);
        }
    }
}

@media screen and (max-width: $nav-collapse) {
    nav {
        align-items: start;
        background-color: var(--dark-gray);
        flex-flow: column nowrap;
        padding: var(--xl-padding);
        position: fixed;
        bottom: 0;
        top: var(--header-height);
        left: 200vw;
        right: 0;

        &.open {
            left: 0;
        }

        .nav-link {
            margin-left: 0;
            margin-bottom: var(--xl-padding);
        }
    }
}
