nav {
    grid-column: 3;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .nav-link {
        margin-left: var(--quad-padding);
    }

    a {
        color: var(--navigation-link-color);
    }

    .current {
        color: var(--navigation-current-link-color);

        &:before {
            content: "\2039\00A0";
            font-size: var(--lg-font-size);
        }

        &:after {
            content: "\00A0\203A";
            font-size: var(--lg-font-size);
        }
    }
}
