.slideshow-container {
  --slideshow-height: 600px;

  display: flex;
  flex-flow: column nowrap;
  background-color: var(--dark-background-color);
  border-radius: var(--border-radius);
  padding: var(--md-padding);
  overflow: hidden;
}

.controls {
  --controls-height: 75px;

  min-height: var(--controls-height);
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) auto;
  align-items: flex-start;
  gap: var(--md-padding);

  a,
  a:visited {
    &:hover,
    &:focus {
      color: var(--link-color);
    }
  }

  button,
  summary {
    min-height: var(--controls-height);
    padding: 0 var(--lg-padding);
  }

  .slide-name {
    padding: var(--sm-padding);
  }

  #left-button::before,
  #right-button::after {
    font-size: var(--xl-text);
  }

  p,
  h3 {
    text-align: center;
  }
}

.slideshow {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  position: relative;
}

.slide {
  display: flex;
  flex-flow: column nowrap;
  padding: var(--lg-padding) var(--xl-padding) var(--xl-padding)
    var(--xl-padding);
  gap: var(--lg-padding);
  width: 100%;
  position: relative;
  align-items: center;

  a,
  a:visited,
  a:hover {
    color: var(--link-color);
  }

  img {
    object-fit: contain;
    width: auto;
    height: auto;
    border-radius: var(--border-radius);
    max-width: 100%;
    max-height: calc(var(--slideshow-height) / 2);
  }
}

@media screen and (max-width: $mobile) {
  .controls {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: flex-start;
    justify-content: flex-start;

    #left-button {
      grid-row: 1;
    }

    #right-button {
      grid-row: 1;
    }

    details {
      grid-row: 2;
      grid-column: span 2;
    }
  }
}
