.slideshow-container {
    --slideshow-height: 600px;

    display: flex;
    flex-flow: column nowrap;
    height: var(--slideshow-height);
    background-color: var(--dark-background-color);
    border-radius: var(--border-radius);
    padding: var(--md-padding);
    overflow: hidden;

    .controls {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;

        button {
            padding: var(--lg-padding);
        }

        #left-title {
            justify-content: flex-start;
            display: grid;
            grid-template-columns: auto 1fr;

            &::before {
                font-family: "Material Symbols Outlined";
                font-size: var(--xl-text);
                content: "chevron_left";
            }
        }

        #right-title {
            justify-content: flex-end;
            display: grid;
            grid-template-columns: 1fr auto;

            &::after {
                font-family: "Material Symbols Outlined";
                font-size: var(--xl-text);
                content: "chevron_right";
            }
        }

        p, h3 {
            text-align: center;
        }
    }
}

.slideshow {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    position: relative;
}

.slide {
    display: flex;
    flex-flow: column nowrap;
    padding: var(--lg-padding) var(--xl-padding) var(--xl-padding) var(--xl-padding);
    gap: calc(var(--lg-padding) * 2);
    width: 100%;
    position: relative;

    img {
        object-fit: contain;
        height: calc(var(--slideshow-height) / 2);
        border-radius: var(--border-radius);
    }
}
