.typing {
    &::after {
        content: '█';
    }
}

.blink {
    &::after {
        animation: blink-caret 1000ms step-end infinite;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        color: transparent;
    }
    50% {
        color: var(--link-color);
    }
}
