.header-container {
    align-items: center;
    background-color: var(--dark-background-color);
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: calc(var(--header-height) - (var(--section-padding) * 2));
    padding: var(--section-padding);
    position: sticky;
    top: 0;
    z-index: 100;
}

#menu-icon {
    user-select: none;
    cursor: pointer;
    display: none;
    font-size: 30pt;
    grid-column: 3;
}

header {
    grid-column: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--lg-padding);

    img {
        height: calc(var(--header-height) - (var(--section-padding) * 2));
    }
}

h1 {
    font-size: var(--lg-font-size);
}

@media screen and (max-width: $nav-collapse) {
    #menu-icon {
        display: block;
    }
}
