nav {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    font-size: var(--xs-font-size);
    gap: var(--section-padding);
    grid-column: 3;
    transition: left 250ms;

    .current {
        color: var(--light-yellow);

        &:before {
            content: "\2039\00A0";
            font-size: var(--md-font-size);
        }

        &:after {
            content: "\00A0\203A";
            font-size: var(--md-font-size);
        }
    }
}

@media screen and (max-width: $nav-collapse) {
    nav {
        align-items: start;
        background-color: var(--dark-background-color);
        flex-direction: column;
        padding: var(--section-padding);
        position: fixed;
        bottom: 0;
        top: var(--header-height);
        left: 200vw;
        right: 0;
        visibility: hidden;

        &.open {
            left: 0;
            visibility: visible;
        }
    }
}
