.column {
    float: left;
}

.column:first-of-type {
    width: calc(60% - 10px);
    margin-right: 10px;
}

.column:last-of-type{
    width: 40%;
}

// .project-link {
//     clear: both;
// }

// .project-screenshot {
//     width: 30%;
// }

// .project-text {
//     width: 70%;
// }
